  <!-- Bootstrap core JavaScript-->
  <script src="/sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/sb-admin-2/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
    <!-- Page level custom scripts -->
    <script src="/sb-admin-2/js/demo/datatables-demo.js"></script>

    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>
      // add new input form list artifacts
      $('#artifact-list').on('click', '.btnAddArtifact', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls-arte'),
            currentEntry = $(this).parents('.entry-arte:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry-arte:not(:last) .btnAddArtifact')
            .removeClass('btnAddArtifact').addClass('btnRmvArtifact')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvArtifact', function(e)
    {
		$(this).parents('.entry-arte:first').remove();

		e.preventDefault();
		return false;
  });

      // add new input form list weapon
      $('#weapon-list').on('click', '.btnAddWeapon', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btnAddWeapon')
            .removeClass('btnAddWeapon').addClass('btnRmvWeapon')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvWeapon', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
  });
</script>