    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-dev"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Genshin API</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Master
        </div>
  
  
        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/weapon">
            <i class="fas fa-th-list"></i>
            <span>Weapons</span></a>
        </li>

        <!-- Nav Item - Item -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/artifact">
            <i class="fas fa-spa"></i>
            <span>Artifacts</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/character">
              <i class="fas fa-child"></i>
              <span>Characters</span></a>
        </li>
  
        <!-- <div class="sidebar-heading">
            Order
          </div>

          <li class="nav-item">
            <a class="nav-link" href="/admin/booking">
              <i class="fas fa-fw fa-shopping-cart"></i>
              <span>Booking</span></a>
          </li> -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->