<%- include('../../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include('../../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <%- include('../../../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <%- include('../../../partials/message.ejs') %>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg">
                        <h1 class="h3 mb-4 text-gray-800">Edit Character</h1>
                    </div>
                    <div class="col-lg text-right"><a href="/admin/character" class="btn btn-warning">Back</a></div>

                </div>
                <div class="row">

                    <div class="col-lg-6">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h6 class="m-0 font-weight-bold text-primary">Bio</h6>
                            </div>
                            <div class="card-body">
                                <form action="/admin/character?_method=PUT" method="POST">
                                    <input type="hidden" class="id" name="id" value="<%= character[0]._id %>">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name"
                                            value="<%= character[0].name %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="rarity">Weapon</label>
                                        <select class="form-control weapon" name="weapon"
                                            value="<%= character[0].weapon %>">

                                            <option value="claymore"
                                                <%= character[0].weapon == 'claymore' ? 'selected' : '' %>>Claymore
                                            </option>
                                            <option value="sword"
                                                <%= character[0].weapon == 'sword' ? 'selected' : '' %>>Sword</option>
                                            <option value="bow" <%= character[0].weapon == 'bow' ? 'selected' : '' %>>
                                                Bow</option>
                                            <option value="polearm"
                                                <%= character[0].weapon == 'polearm' ? 'selected' : '' %>>Polearm
                                            </option>
                                            <option value="catalyst"
                                                <%= character[0].weapon == 'catalyst' ? 'selected' : '' %>>Catalyst
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Description</label>
                                        <textarea class="form-control" name="description" rows="3"
                                            placeholder="<%= character[0].description %>"
                                            required><%= character[0].description %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="rarity">Gender</label>
                                        <select class="form-control gender" name="gender">
                                            <option value="male" <%= character[0].gender == 'male' ? 'selected' : '' %>>
                                                Male</option>
                                            <option value="female"
                                                <%= character[0].gender == 'female' ? 'selected' : '' %>>Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Birthday</label>
                                        <input type="text" class="form-control birthday" name="birthday"
                                            placeholder="Enter Birthday" value="<%= character[0].birthday %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="rarity">Rarity</label>
                                        <select class="form-control rarity" name="rarity"
                                            value="<%= character[0].rarity %>">
                                            <option value="4" <%= character[0].rarity == '4' ? 'selected' : '' %>>4
                                            </option>
                                            <option value="5" <%= character[0].rarity == '5' ? 'selected' : '' %>>5
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="vision">Vision</label>
                                        <select class="form-control vision" name="vision"
                                            value="<%= character[0].vision %>">
                                            <option value="pyro" <%= character[0].vision == 'pyro' ? 'selected' : '' %>>
                                                Pyro</option>
                                            <option value="cryo" <%= character[0].vision == 'cryo' ? 'selected' : '' %>>
                                                Cryo</option>
                                            <option value="hydro"
                                                <%= character[0].vision == 'hydro' ? 'selected' : '' %>>Hydro</option>
                                            <option value="anemo"
                                                <%= character[0].vision == 'anemo' ? 'selected' : '' %>>Anemo</option>
                                            <option value="geo" <%= character[0].vision == 'geo' ? 'selected' : '' %>>
                                                Geo</option>
                                            <option value="electro"
                                                <%= character[0].vision == 'electro' ? 'selected' : '' %>>Electro
                                            </option>
                                            <option value="dendro"
                                                <%= character[0].vision == 'dendro' ? 'selected' : '' %>>Dendro</option>
                                        </select>
                                    </div>
                                    <% for (let i = 0; i < roles.length; i++) { %>
                                    <div class="form-group form-check form-check-inline">

                                        <input class="form-check-input" name="roles" type="checkbox"
                                            value="<%= roles[i] %>"
                                            <%= charaRole.includes(roles[i]) == true ? 'checked' : '' %>>
                                        <label class="form-check-label"></label><%= roles[i] %></label>

                                    </div>
                                    <% } %>
                                    <div class="form-group">
                                        <label for="name">imageUrl</label>
                                        <input type="text" class="form-control imageUrl" name="imageUrl"
                                            placeholder="Enter imageUrl" required value="<%= character[0].imageUrl %>">
                                    </div>
                                    <% for (let i = 0; i < stats.length; i++) { %>
                                    <div class="form-group form-check form-check-inline">

                                        <input class="form-check-input" name="statsPriority" type="checkbox"
                                            value="<%= stats[i] %>"
                                            <%= character[0].statsPriority.includes(stats[i]) == true ? 'checked' : '' %>>
                                        <label class="form-check-label"></label><%= stats[i] %></label>

                                    </div>
                                    <% } %>
                                    <div class="controls form-group" id="weapon-list">
                                        <label for="weapons">Weapons</label>
                                        <% for (let x = 0; x < character[0].weapons.length; x++) { %>
                                        <div class="entry input-group">
                                            <select id="row1" class="form-control" name="weapons">
                                                <% for (let i = 0; i < weapon.length; i++) { %>
                                                <option value="<%= weapon[i].id %>"
                                                    <%= character[0].weapons[x].name == weapon[i].name ? 'selected' : '' %>>
                                                    <%= weapon[i].name %></option>
                                                <% } %>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btnAddWeapon btn btn-success" type="button"><i
                                                        class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                    <div class="controls-arte form-group" id="artifact-list">
                                        <label for="artifact">Artifact</label>
                                        <% for (let x = 0; x < character[0].artifacts.length; x++) { %>
                                        <div class="entry-arte input-group">
                                            <select id="row1" class="form-control mr-sm-2" name="set">
                                                <% let artifactSet = ["2", "4"] %>
                                                <% for (let i = 0; i < artifactSet.length; i++) { %>
                                                <option value="<%= artifactSet[i] %>"
                                                    <%= character[0].artifacts[x].sets == artifactSet[i] ? 'selected' : '' %>>
                                                    <%= artifactSet[i] %></option>
                                                <% } %>
                                            </select>
                                            <select id="row1" class="form-control" name="artifactsBuild">
                                                <% for (let i = 0; i < artifact.length; i++) { %>
                                                    <option value="<%= artifact[i].id %>"
                                                        <%= character[0].artifacts[x].artifactId.name == artifact[i].name ? 'selected' : '' %>>
                                                        <%= artifact[i].name %></option>
                                                    <% } %>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btnAddArtifact btn btn-success" type="button"><i
                                                        class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>

                                    <button type="submit" class="btn btn-primary float-right">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img height="auto" src="<%= character[0].imageUrl %>" class="mx-auto d-block" />
                    </div>
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Weapons</h6>
                            </div>
                            <div class="card-body">
                                <div class="card-group">
                                    <% for(let i = 0; i < character[0].weapons.length; i++){ %>
                                    <div class="card">
                                        <img src="<%= character[0].weapons[i].imageUrl %>" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title"><%= character[0].weapons[i].name %>
                                                (*<%= character[0].weapons[i].rarity %>)</h4>
                                            <h5 class="card-title"><%= character[0].weapons[i].main_stat %></h5>
                                            <p class="card-text"><small
                                                    class="text-muted"><%= character[0].weapons[i].sub_stat %></small>
                                            </p>
                                            <p class="card-text"><%= character[0].weapons[i].passive %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Artifacts</h6>
                            </div>
                            <div class="card-body">
                                <div class="card-group">
                                    <% for(let i = 0; i < character[0].artifacts.length; i++){ %>
                                    <div class="card">
                                        <img src="<%= character[0].artifacts[i].artifactId.imageUrl %>" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title"> <%= character[0].artifacts[i].sets %> Sets of <%= character[0].artifacts[i].artifactId.name %>
                                                (*<%= character[0].artifacts[i].artifactId.rarity %>)</h4>
                                                <p class="card-text"><%= character[0].artifacts[i].artifactId.desc_2 %></p>
                                            
                                            <p class="card-text"><%= character[0].artifacts[i].artifactId.desc_4 %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


</body>
<%- include('../../../partials/js.ejs') %>

</html>