<%- include('../../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

    <%- include('../../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <%- include('../../../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <%- include('../../../partials/message.ejs') %>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg"><h1 class="h3 mb-4 text-gray-800">Details Character</h1></div>
                    <div class="col-lg text-right"><a href="/admin/character" class="btn btn-warning">Back</a></div>
                    
                </div>
                <div class="row">

                    <div class="col-lg-6">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h6 class="m-0 font-weight-bold text-primary">Bio</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" value="<%= character[0].name %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Weapon</label>
                                    <input type="text" class="form-control" value="<%= character[0].weapon %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name">Description</label>
                                    <textarea class="form-control" name="description" rows="3"
                                        placeholder="<%= character[0].description %>" disabled></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Gender</label>
                                    <input type="text" class="form-control" value="<%= character[0].gender %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name">Birthday</label>
                                    <input type="text" class="form-control" value="<%= character[0].birthday %>"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Rarity</label>
                                    <input type="text" class="form-control" value="<%= character[0].rarity %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="vision">Vision</label>
                                    <input type="text" class="form-control" value="<%= character[0].vision %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Roles">Roles</label><br>
                                    <% for(let i = 0; i < character[0].roles.length; i++){ %>
                                    <span class="badge bg-warning"><%= character[0].roles[i] %></span>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label>Stats Priority</label><br>
                                    <% for(let i = 0; i < character[0].statsPriority.length; i++){ %>
                                    <span class="badge bg-warning"><%= character[0].statsPriority[i] %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img height="auto" src="<%= character[0].imageUrl %>" class="mx-auto d-block" />
                    </div>
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Weapons</h6>
                            </div>
                            <div class="card-body">
                                <div class="card-group">
                                    <% for(let i = 0; i < character[0].weapons.length; i++){ %>
                                    <div class="card">
                                        <img src="<%= character[0].weapons[i].imageUrl %>" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title"><%= character[0].weapons[i].name %>
                                                (*<%= character[0].weapons[i].rarity %>)</h4>
                                            <h5 class="card-title"><%= character[0].weapons[i].main_stat %></h5>
                                            <p class="card-text"><small
                                                    class="text-muted"><%= character[0].weapons[i].sub_stat %></small>
                                            </p>
                                            <p class="card-text"><%= character[0].weapons[i].passive %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Artifacts</h6>
                            </div>
                            <div class="card-body">
                                <div class="card-group">
                                    <% for(let i = 0; i < character[0].artifacts.length; i++){ %>
                                    <div class="card">
                                        <img src="<%= character[0].artifacts[i].artifactId.imageUrl %>" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title"> <%= character[0].artifacts[i].sets %> Sets of <%= character[0].artifacts[i].artifactId.name %>
                                                (*<%= character[0].artifacts[i].artifactId.rarity %>)</h4>
                                                <p class="card-text"><%= character[0].artifacts[i].artifactId.desc_2 %></p>
                                            
                                            <p class="card-text"><%= character[0].artifacts[i].artifactId.desc_4 %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


</body>
<%- include('../../../partials/js.ejs') %>

</html>