<!-- Modal -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Character Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/character?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control name" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Weapon</label>
                                    <input type="text" class="form-control weapon" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name">Description</label>
                                    <textarea class="form-control description" name="description" rows="3"
                                        placeholder="description..." disabled></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Gender</label>
                                    <input type="text" class="form-control gender" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name">Birthday</label>
                                    <input type="text" class="form-control birthday" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="rarity">Rarity</label>
                                    <input type="text" class="form-control rarity" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="vision">Vision</label>
                                    <input type="text" class="form-control vision" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="roles">Roles</label>
                                    <ul class="list-group roles">
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="weapon">Weapons</label>
                                    <ul class="list-group weapon">
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="weapon">Artifacts</label>
                                    <ul class="list-group arte">
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="roles">Priority Stats</label>
                                    <ul class="list-group stats">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <div class="text-center">
                                    ​<picture>
                                        <img src="" class="img-fluid img-thumbnail imageUrl">
                                      </picture>
                                      </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="id" name="id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>