
  
  <!-- Modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Character</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/character?_method=PUT" method="POST">
        <div class="modal-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                  <label for="rarity">Weapon</label>
                  <select class="form-control weapon" name="weapon">
                    <option value="claymore">Claymore</option>
                    <option value="sword">Sword</option>
                    <option value="bow">Bow</option>
                    <option value="polearm">Polearm</option>
                    <option value="catalyst">Catalyst</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">Description</label>
                  <textarea class="form-control description" name="description" rows="3" placeholder="description..." required></textarea>
                </div>
                <div class="form-group">
                  <label for="rarity">Gender</label>
                  <select class="form-control gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">Birthday</label>
                  <input type="text" class="form-control birthday" name="birthday" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                  <label for="rarity">Rarity</label>
                  <select class="form-control rarity" name="rarity">
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="vision">Vision</label>
                  <select class="form-control vision" name="vision">
                    <option value="pyro">Pyro</option>
                    <option value="cryo">Cryo</option>
                    <option value="hydro">Hydro</option>
                    <option value="anemo">Anemo</option>
                    <option value="geo">Geo</option>
                    <option value="electro">Electro</option>
                    <option value="dendro">Dendro</option>
                  </select>
                </div>
                <% for (let i = 0; i < roles.length; i++) { %>
                  <div class="form-group form-check form-check-inline">
                          
                      <input class="form-check-input" name="roles" type="checkbox" value="<%= roles[i] %>">
                      <label class="form-check-label"></label><%= roles[i] %></label>
                      
                  </div>
                  <% } %>
                  <div class="controls form-group" id="update-weapon">
                    <label for="weapons">Weapons</label>
                    <div class="entry input-group">
                    <select id="row1" class="form-control" name="weapons">
                      <% for (let i = 0; i < weapon.length; i++) { %>
                        <option value="<%= weapon[i].id %>"><%= weapon[i].name %></option>
                      <% } %>
                    </select>
                    <div class="input-group-append">
                      <button class="btnAddWeapon btn btn-success" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                  </div>
                  <div class="controls-arte form-group" id="update-artifact">
                    <label for="artifact">Artifact</label>
                    <div class="entry-arte input-group">
                    <select id="row1" class="form-control" name="artifacts">
                      <% for (let i = 0; i < artifact.length; i++) { %>
                        <option value="<%= artifact[i].id %>"><%= artifact[i].name %></option>
                        <% } %>
                    </select>
                    <div class="input-group-append">
                      <button class="btnAddArtifact btn btn-success" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                  </div>
                  <% for (let i = 0; i < stats.length; i++) { %>
                    <div class="form-group form-check form-check-inline">
                            
                        <input class="form-check-input" name="statsPriority" type="checkbox" value="<%= stats[i] %>">
                        <label class="form-check-label"></label><%= stats[i] %></label>
                        
                    </div>
                    <% } %>
                <div class="form-group">
                  <label for="name">imageUrl</label>
                  <input type="text" class="form-control imageUrl" name="imageUrl" placeholder="Enter imageUrl" required>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="id" name="id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
      </div>
    </div>
  </div>