                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Weapon</th>
                                <th>Gender</th>
                                <th>Birthday</th>
                                <th>Rarity</th>
                                <th>Vision</th>
                                <th>imageUrl</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for(let i = 0; i < character.length; i++){ %>

                              <tr>
                                <td><%= i + 1 %></td>
                                <td><%= character[i].name %></td>
                                <td><%= character[i].weapon %></td>
                                <td><%= character[i].gender %></td>
                                <td><%= character[i].birthday %></td>
                                <td><%= character[i].rarity %></td>
                                <td><%= character[i].vision %></td>
                                <td>
                                  <img src="<%= character[i].imageUrl %>" alt="imageUrl" width="70">
                                </td>
                                <td>
                                  <form action="/admin/character/<%= character[i].id %>?_method=DELETE" method="POST">
                                    <a href="/admin/character/details/<%= character[i].id %>" type="button"
                                    class="btn btn-primary btn-circle btn-sm"><i class="fas fa-image"></i></a>
                                    <!-- <a href="javascript:void()" type="button"
                                      class="btn btn-primary btn-circle btn-sm button-details"
                                      data-id="<%= character[i].id %>" data-name="<%= character[i].name %>"
                                      data-description="<%= character[i].description %>"
                                      data-weapon="<%= character[i].weapon %>" data-gender="<%= character[i].gender %>"
                                      data-birthday="<%= character[i].birthday %>"
                                      data-rarity="<%= character[i].rarity %>" data-vision="<%= character[i].vision %>"
                                      data-roles="<%= character[i].roles %>"
                                      data-weaponlist="<%= character[i].weapons %>"
                                      data-artifactlist="<%= character[i].artifacts %>"
                                      data-stats="<%= character[i].statsPriority %>"
                                      data-imageurl="<%= character[i].imageUrl %>">
                                      <i class="fas fa-image"></i></a> -->
                                      <a href="/admin/character/edit/<%= character[i].id %>" type="button"
                                        class="btn btn-warning btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                    <!-- <a href="javascript:void()" type="button"
                                      class="btn btn-warning btn-circle btn-sm button-update"
                                      data-id="<%= character[i].id %>" data-name="<%= character[i].name %>"
                                      data-description="<%= character[i].description %>"
                                      data-weapon="<%= character[i].weapon %>" data-gender="<%= character[i].gender %>"
                                      data-birthday="<%= character[i].birthday %>"
                                      data-rarity="<%= character[i].rarity %>" data-vision="<%= character[i].vision %>"
                                      data-roles="<%= character[i].roles %>"
                                      data-imageurl="<%= character[i].imageUrl %>">
                                      <i class="fas fa-edit"></i></a> -->
                                    <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i
                                        class="fas fa-trash"></i></button>
                                  </form>
                                </td>
                              </tr>

                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <%- include('add_modal.ejs') %>
                    <%- include('../../partials/js.ejs') %>