<%- include('../../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

<%- include('../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

<%- include('../../partials/navbar.ejs') %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
<%- include('../../partials/message.ejs') %>
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Character List</h1>
          <%- include('table_character.ejs') %>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

<%- include('../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('details_modal.ejs') %>
  <%- include('add_modal.ejs') %>
  <%- include('edit_modal.ejs') %>


  <script>
    $('#dataTable').on('click', '.button-update', function(){
      let id = $(this).data('id');
      let name = $(this).data('name');
      let description = $(this).data('description');
      let weapon = $(this).data('weapon');
      let gender = $(this).data('gender');
      let birthday = $(this).data('birthday');
      let rarity = $(this).data('rarity');
      let vision = $(this).data('vision');
      let roles = $(this).data('roles');
      let imageUrl = $(this).data('imageurl');
      console.log(id);
      $('#edit-modal').modal('show');
      $('.id').val(id);
      $('.name').val(name);
      $('.description').val(description);
      $('.weapon').val(weapon);
      $('.gender').val(gender);
      $('.birthday').val(birthday);
      $('.rarity').val(rarity);
      $('.vision').val(vision);
      console.log('zzz', roles[0])
      $('.roles-maindps').val(roles);
      $('.roles-subdps').val(roles);
      $('.roles-support').val(roles);
      $('.roles-utilities').val(roles);

      $('.imageUrl').val(imageUrl);
      $('.roles-1').prop('checked', false);
      if(roles.includes('main dps') == true){
        $("input[value=main dps]").prop("checked", true );
      }

    })

  // details modal
    $('#dataTable').on('click', '.button-details', function(){
      let id = $(this).data('id');
      let name = $(this).data('name');
      let description = $(this).data('description');
      let weapon = $(this).data('weapon');
      let gender = $(this).data('gender');
      let birthday = $(this).data('birthday');
      let rarity = $(this).data('rarity');
      let vision = $(this).data('vision');
      let roles = $(this).data('roles');
      let weaponlist = $(this).data('weaponlist');
      let artifactlist = $(this).data('artifactlist');
      let stats = $(this).data('stats');
      let imageUrl = $(this).data('imageurl');
      console.log(id);
      $('#details-modal').modal('show');
      $('.id').val(id);
      $('.name').val(name);
      $('.description').val(description);
      $('.weapon').val(weapon);
      $('.gender').val(gender);
      $('.birthday').val(birthday);
      $('.rarity').val(rarity);
      $('.vision').val(vision);
      console.log('adakah', weaponlist)
      var arrayArte = artifactlist.split(',')
      var arrayStats = stats.split(',')
      var arrayRoles = roles.split(',')
      var arrayWeapons = weaponlist.split(',')
      var elementsArte = $();
      var elementsStats = $();
      var elementsRoles = $();
      var elementsWeapons = $();
      for(x = 0; x < arrayArte.length; x++) {
        if (!$('.list-group-item').length) 
        elementsArte = elementsArte.add("<li class='list-group-item'>"+ arrayArte[x] +"</li>");
      }
      for(x = 0; x < arrayRoles.length; x++) {
        if (!$('.list-group-item').length) 
          elementsRoles = elementsRoles.add("<li class='list-group-item'>"+ arrayRoles[x] +"</li>");
      }
      for(x = 0; x < arrayStats.length; x++) {
        if (!$('.list-group-item').length) 
        elementsStats = elementsStats.add("<li class='list-group-item'>"+ arrayStats[x] +"</li>");
      }
      for(x = 0; x < arrayWeapons.length; x++) {
        if (!$('.list-group-item').length) 
        elementsWeapons = elementsWeapons.add("<li class='list-group-item'>"+ arrayWeapons[x] +"</li>");
      }
      
      // $("#estado_cat").prop("checked", true );
      $('.roles').append(elementsRoles);
      $('.stats').append(elementsStats);
      $('.weapon').append(elementsWeapons);
      $('.arte').append(elementsArte);
      $(".imageUrl").attr("src",imageUrl);
    })

    // add new input form list weapon
    $('#list-weapon').on('click', '.btnAddWeapon', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btnAddWeapon')
            .removeClass('btnAddWeapon').addClass('btnRmvWeapon')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvWeapon', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
  });
  
    // add new input form list artifacts
    $('#artifact-list').on('click', '.btnAddArtifact', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls-arte'),
            currentEntry = $(this).parents('.entry-arte:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry-arte:not(:last) .btnAddArtifact')
            .removeClass('btnAddArtifact').addClass('btnRmvArtifact')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvArtifact', function(e)
    {
		$(this).parents('.entry-arte:first').remove();

		e.preventDefault();
		return false;
  });

  // add new input form list artifacts
  $('#list-artifact').on('click', '.btnAddArtifact', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls-arte'),
            currentEntry = $(this).parents('.entry-arte:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry-arte:not(:last) .btnAddArtifact')
            .removeClass('btnAddArtifact').addClass('btnRmvArtifact')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvArtifact', function(e)
    {
		$(this).parents('.entry-arte:first').remove();

		e.preventDefault();
		return false;
  });
  
  $('#update-weapon').on('click', '.btnAddWeapon', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btnAddWeapon')
            .removeClass('btnAddWeapon').addClass('btnRmvWeapon')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvWeapon', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
  });

  $('#update-artifact').on('click', '.btnAddArtifact', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls-arte'),
            currentEntry = $(this).parents('.entry-arte:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry-arte:not(:last) .btnAddArtifact')
            .removeClass('btnAddArtifact').addClass('btnRmvArtifact')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<i class="fas fa-minus"></i>');
    }).on('click', '.btnRmvArtifact', function(e)
    {
		$(this).parents('.entry-arte:first').remove();

		e.preventDefault();
		return false;
  });
  </script>
</body>

</html>