<!-- Modal -->
  <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Artifact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/artifact" method="POST">
        <div class="modal-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                  <label for="rarity">Rarity</label>
                  <select class="form-control" name="rarity">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4 / 5">4 / 5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">2 Pieces Set</label>
                  <input type="text" class="form-control" name="desc_2" placeholder="Enter desc_2" required>
                </div>
                <div class="form-group">
                  <label for="name">4 Pieces Set</label>
                  <input type="text" class="form-control" name="desc_4" placeholder="Enter desc_4" required>
                </div>
                <div class="form-group">
                  <label for="name">imageUrl</label>
                  <input type="text" class="form-control" name="imageUrl" placeholder="Enter imageUrl" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
      </div>
    </div>
  </div>