                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Name</th>
                                  <th>Rarity</th>
                                  <th>2-Pieces Set</th>
                                  <th>4-Pieces Set</th>
                                  <th>imageUrl</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i = 0; i < artifact.length; i++){ %>
                                  <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= artifact[i].name %></td>
                                    <td><%= artifact[i].rarity %></td>
                                    <td><%= artifact[i].desc_2 %></td>
                                    <td><%= artifact[i].desc_4 %></td>
                                    <td>
                                      <img src="<%= artifact[i].imageUrl %>" alt="imageUrl" width="70">
                                    </td>
                                    <td>
                                      <form action="/admin/artifact/<%= artifact[i].id %>?_method=DELETE" method="POST">
                                      <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update" data-id="<%= artifact[i].id %>" data-name="<%= artifact[i].name %>" data-rarity="<%= artifact[i].rarity %>" data-desc2="<%= artifact[i].desc_2 %>" data-desc4="<%= artifact[i].desc_4 %>" data-imageurl="<%= artifact[i].imageUrl %>"><i class="fas fa-edit"></i></a>
                                      <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                                    </form>
                                    </td>
                                  </tr>
                                <% } %>  
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
<%- include('add_modal.ejs') %>
<%- include('../../partials/js.ejs') %>