
  
  <!-- Modal -->
  <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Weapon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/weapon?_method=PUT" method="POST">
        <div class="modal-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                  <label for="rarity">Type</label>
                  <select class="form-control type" name="type">
                    <option value="claymore">Claymore</option>
                    <option value="sword">Sword</option>
                    <option value="bow">Bow</option>
                    <option value="polearm">Polearm</option>
                    <option value="catalyst">Catalyst</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="rarity">Rarity</label>
                  <select class="form-control rarity" name="rarity">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">Main Stats</label>
                  <input type="text" class="form-control mainstat" name="mainstat" placeholder="Enter mainstats" required>
                </div>
                <div class="form-group">
                  <label for="name">Sub Stats</label>
                  <input type="text" class="form-control substat" name="substat" placeholder="Enter substats" required>
                </div>
                <div class="form-group">
                  <label for="name">Passive</label>
                  <textarea class="form-control passive" name="passive" rows="4" placeholder="Enter passive" required></textarea>
                </div>
                <div class="form-group">
                  <label for="name">imageUrl</label>
                  <input type="text" class="form-control imageUrl" name="imageUrl" placeholder="Enter imageUrl" required>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" class="id" name="id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
      </div>
    </div>
  </div>