                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Name</th>
                                  <th>Type</th>
                                  <th>Rarity</th>
                                  <th>Main Stats (1/90)</th>
                                  <th>Sub Stats (1/90)</th>
                                  <th>Passive</th>
                                  <th>imageUrl</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i = 0; i < weapon.length; i++){ %>
                                  <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= weapon[i].name %></td>
                                    <td><%= weapon[i].type %></td>
                                    <td><%= weapon[i].rarity %></td>
                                    <td><%= weapon[i].main_stat %></td>
                                    <td><%= weapon[i].sub_stat %></td>
                                    <td><%= weapon[i].passive %></td>
                                    <td>
                                      <img src="<%= weapon[i].imageUrl %>" alt="imageUrl" width="70">
                                    </td>
                                    <td>
                                      <form action="/admin/weapon/<%= weapon[i].id %>?_method=DELETE" method="POST">
                                      <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update" data-id="<%= weapon[i].id %>" data-name="<%= weapon[i].name %>" data-type="<%= weapon[i].type %>" data-rarity="<%= weapon[i].rarity %>" data-mainstat="<%= weapon[i].main_stat %>" data-substat="<%= weapon[i].sub_stat %>" data-passive="<%= weapon[i].passive %>" data-imageurl="<%= weapon[i].imageUrl %>"><i class="fas fa-edit"></i></a>
                                      <button type="submit" href="" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                                    </form>
                                    </td>
                                  </tr>
                                <% } %>  
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
<%- include('add_modal.ejs') %>
<%- include('../../partials/js.ejs') %>